<!DOCTYPE html>
<html>
<head>
  <link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
<title> Oriel </title>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87973982-1', 'auto');
  ga('send', 'pageview');
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" href="index.html"><font color="#B22222">OX</font>food</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="orielcollege.html">Oriel</a></li>
      <li><a href="stjohns.html">St John's</a></li>
      <li><a href="LMH.html">LMH</a></li>
      <li><a href="pembroke.html">Pembroke</a></li>
      <li><a href="stbenets.html">St Benet's Hall</a></li>
      <li><a href="christchurch.html">Christ Church</a></li>
      <li><a href="kellogg.html">Kellogg</a></li>
      <li><a href="applyforswap.html">Apply for a Swap</a></li>
    </ul>
  </div>

</nav>
<img class="img-hallphoto img-responsive img-centered" src="oriel.jpg" alt="Oriel">
  <h1 id="collegeh1">Oriel College</h1>
<p id=collegep> Oriel's formal hall runs six nights a week, from Sunday to Friday. Oriel members are required to wear gowns, but this is not necessary for guests. Formal costs £5.50 for Oriel students and around £14 for guests. </p>

<div id='social-buttons'>
      <div class='container' style="border:none">
      <button style="font-size:48px; color: #1dcaff"><i class="fa fa-twitter-square"></i></button>
      <button style="font-size:48px; color: #3b5998"><i class="fa fa-facebook-square"></i></button>
      <button style="font-size:48px; color: #C92228"><i class="fa fa-pinterest-square"></i></button>
    </div>
    </div>


</body>
</html>
